body {
  font-family: "Pangolin", cursive;
  font-optical-sizing: auto;
  font-style: normal;
}/* your styles go here *//* SlideshowContenter */
.container {
	width: 80%;
}

.slideshow-container {
  width: 80%;
  position: relative;
  margin: auto;
} 
.item img{
  width: 100%;
  height: 400px;
}
/* Caption text */
.text {
  color: #f2f2f2;
  font-size: 15px;
  padding: 8px 12px;
  position: absolute;
  top: 45%;    
  width: 100%;
  text-align: center;
}
.text p{
    margin-top: 30px;
}
.testcarousel{
  position: relative;
}
.owl-prev {    
  position: absolute;
  top: 40%;
  left: 30px;
  margin-left: -50px;  
  outline: none; 
}
.owl-next {   
  position: absolute;
  top: 40%;
  right: 30px; 
  outline: none;  
}
.owl-theme .owl-nav [class*=owl-]:hover {
background: none;
color: #FFF;
text-decoration: none;
}
.owl-next, .owl-prev{
border: none;
opacity: .7;
}
.owl-theme .owl-dots .owl-dot {
outline: none;  
}

.owl-theme .owl-dots .owl-dot.active span  {
background: #fff;
}
.owl-theme .owl-dots .owl-dot span, .owl-theme .owl-dots .owl-dot:hover span {
width: 10px;
height: 10px;
margin: 5px 7px;
background: black;
display: block;

transition: opacity .2s ease;
border-radius: 30px;
}
.owl-dots{
position: absolute;
bottom: 5%;
left: 47.5%;
}
.testcarousel .slideshow-container .item .text h2{
  font-size: 60px;
  font-weight: 900;
  color: #FFF;
  letter-spacing: 3px;
  text-transform: uppercase;
  margin: 0px 0px 10px;
}
.testcarousel .slideshow-container .item .text p{
  font-size: 24px;
    font-weight: 400;
    color: #d3d8d8;
    line-height: 35px;
    letter-spacing: 1px;
}
.about{
  margin: 50px auto;
  text-align: center;
}
.about h2{
  margin: 0 0 48px 0;
  color: #000;
    font-size: 4em;
    font-weight: 500;

}
.about__content .about__info{
  display: flex;
  margin: 0 auto;
  padding: 0px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width:80%; 
}
.about__content .about__info p{
  margin: 12px 0;
}
.about__content .about__info .about__items i{
  font-size: 32px;
    color: #000;
    background: #fff;
    border: 1px solid #7f7777;
    cursor: pointer;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    line-height: 98px;
    transition: .5s all;
    text-align: center;
}
.about__content .about__info .about__items i:hover{
  background-color: #00cdce;
  color: #fff;
}
.about__content .about__us h2 {
  color: #00cdce;
  font-size: 30px;
  margin: 0;
  font-weight: 600;
  line-height: 1.8em;
  text-align: center;
}
.about__content .about__us p{
  margin: 5px 0 0 0;
  color: #000;
  font-size: 15px;
  text-align: center;
  line-height: 29px;
  letter-spacing: 1px;
  width: 80%;
  margin: 0 auto;
}


.card {
	border: none;
	border-radius: 1rem;
	box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.1);
	transition: transform 0.3s ease-in-out;
	cursor: pointer;
	height: 27vh;
	display: flex;
	flex-direction: column;
}
.card:hover {
	transform: translateY(-5px);
}
.card-body {
	flex-grow: 1;
	padding: 2rem;
	overflow: hidden; /* Giữ nội dung bên trong và chiều cao cố định */
}
.card-title {
	font-size: 1.5rem;
	font-weight: bold;
	color: #343a40;
	margin-bottom: 1rem;
}
.card-text {
	font-size: 1.25rem;
	color: #6c757d;
}
.form-control {
	border: 1px solid #ced4da;
	border-radius: 0.5rem;
	padding: 0.75rem 1rem;
	font-size: 1.25rem;
}
.btn-primary {
	background-color: #EC9B3D;
	border-color: #EC9B3D;
	font-size: 1.25rem;
	padding: 0.75rem 2rem;
	border-radius: 2rem;
}
.btn-primary:hover {
	background-color: #EC9B3D;
	border-color: #EC9B3D;
}

.cardBlog {
	border: none;
	border-radius: 1rem;
	box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.1);
	transition: transform 0.3s ease-in-out;
	cursor: pointer;
	display: flex;
	flex-direction: row;
}
.cardBlog:hover {
	transform: translateY(-5px);
}
.cardBlog-img {
	flex: 0 0 50%; /* 40% width for image */
	max-width: 50%;
	border-top-left-radius: 1rem;
	border-bottom-left-radius: 1rem;
	overflow: hidden;
}
.cardBlog-img img {
	width: 100%;
	height: 100%;
	display: block;
	border-top-left-radius: 1rem;
	border-bottom-left-radius: 1rem;
}
.cardBlog-body {
	flex: 1; /* 60% width for content */
	padding: 1rem;
	display: flex;
	flex-direction: column;
	justify-content: center;
}
.cardBlog-title {
	font-size: 1rem;
	font-weight: bold;
	color: #343a40;
	margin-bottom: 1rem;
}
.cardBlog-text {
	font-size: 1rem;
	color: #6c757d;
	line-height: 1.6;
}

.text-center {
	text-align: center;
}